
.form-control {
  background-color: rgba(190, 190, 190, 0.514);
  border: none;
  color: white;
  outline: none;
}
.form-control-contact{
  background-color: rgba(190, 190, 190, 0.514);
  border:none;
  color: white;
  outline: none;
}